.vectorWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  min-width: 100%;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.whiteVectorSmallPart {
  height: 23px;
  width: 20%;
  background-color: #fff4ec;
}
.whiteVectorBigPart {
  height: 104px;
  width: 80%;
  background-color: #fff4ec;
}
