@import "commonStyles/commonStyles.scss";
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px;
  margin-bottom: 100px;
  margin: 0 200px;
}
.galleryTitle {
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
  color: $green-accent;
}
.centralText {
  margin: 24px 0;
}
.descriptionTop {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 500;
  color: $gray-text;
}
.descriptionTopGreen {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 500;
  color: $green-accent;
}
.descriptionBottom {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 500;
  color: $gray-text;
}
.galleryContainer {
  width: 100%;
  margin-top: 64px;
  max-width: 1920px;
}
.galleryWrapper {
  background-color: $card-background;
  border-radius: 25px;
}
@media (max-width: $xl) {
  .wrapper {
    margin: 0 100px;
  }
}
@media (max-width: $lg) {
  .wrapper {
    margin: 0 50px;
  }
}
@media (max-width: $md) {
  .wrapper {
    margin: 0 24px;
  }
}
@media (max-width: $sm) {
  .wrapper {
    margin: 0 8px;
  }
  .descriptionBottom {
    margin: 0 16px;
  }
}

