$white-text: #d1d0d0;
$bright-white-text: #f4f4f4;
$green-accent: #1b9f30;
$black-background: #1e1e1e;
$black-text: #333333;
$gray-text: #4b5053;
$card-background: rgba(214, 161, 100, 0.25);
$background-sketches-color: rgba(143, 84, 84, 0.15)
