@import "commonStyles/commonStyles.scss";
@mixin commoninput {
  height: 66px;
  color: #5b6674;
  padding: 16px;
  background: #f3f5f6;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0;
}
.contactFormInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
}
.contactFormWrapper {
  color: $black-text;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 200px;
  margin-top: 128px;
}
.contactFormTitle {
  color: $green-accent;
  font-size: 32px;
  font-weight: 700;
  margin-top: 32px;
  font-family: "Open Sans";
  margin-bottom: 64px;
}
.form {
  width: 600px;
  padding: 32px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .formTitle {
    color: $black-text;
    font-size: 32px;
    font-weight: 700;
    font-family: "Poppins";
    margin-bottom: 32px;
  }
  .inputWide {
    width: 100%;
    @include commoninput;
  }
  .inputShort {
    width: 50%;
    @include commoninput;
  }
  .textareaWide {
    width: 100%;
    @include commoninput;
    height: 200px;
    resize: none;
  }
  .doubleInputsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .inputShort:nth-child(1) {
      margin-right: 6px;
    }
    .inputShort:nth-child(2) {
      margin-left: 6px;
    }
  }
  .submitButton {
    height: 66px;
    width: 100%;
    background-color: $green-accent;
    border: none;
    margin-top: 8px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  .submitButton:disabled {
    background-color: #5b6674;
  }
  .additionalInformation {
    width: 100%;
    color: #5b6674;
    font-family: Poppins;
    text-align: left;
  }
}
.descriptionPart {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 32px;
  .descTitle {
    color: $black-text;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
  .descSubTitle {
    color: $black-text;
    font-family: Poppins;
    font-size: 48px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    margin: 24px 0;
    line-height: 56px;
  }
  .descDescription {
    color: $black-text;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 12px 0;
    line-height: 28.08px;
  }
  .descLocation {
    color: $black-text;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
  }
  .descLocationDetails {
    display: flex;
    align-items: center;
    color: $black-text;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
  }
  .localizationIcon {
    margin-right: 16px;
  }
}
@media (max-width: $xl) {
  .contactFormWrapper {
    flex-direction: column-reverse;
    margin: 0 100px;
  }
  .contactFormInnerWrapper {
    flex-direction: column-reverse;
  }
  .form {
    width: auto;
  }
  .descriptionPart {
    width: 100%;
    margin: 32px 0;
  }
}
@media (max-width: $lg) {
  .contactFormWrapper {
    margin: 0 50px;
    margin-top: 64px;
  }
}
@media (max-width: $md) {
  .contactFormWrapper {
    margin: 0 24px;
    margin-top: 64px;
  }
}
@media (max-width: $sm) {
  .contactFormWrapper {
    margin: 0 16px;
    margin-top: 64px;
  }
  .inputShort {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .doubleInputsWrapper {
    display: flex;
    flex-direction: column;
  }
  .form {
    padding: 16px;
  }
  .inputsForm {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .contactFormWrapper {
    margin-top: 64px;
  }
  .form {
    padding: 0px;
  }
}
