@import "commonStyles/commonStyles.scss";
.greenSeparatorBar {
  background-color: $green-accent;
  min-width: 3px;
  min-height: 100%;
  border-radius: 16px;
  margin: 0 32px;
}
@media (max-width: $lg) {
  .greenSeparatorBar {
    margin: 0 16px;
  }
}
@media (max-width: $md) {
  .greenSeparatorBar {
    margin: 0 8px;
  }
}
